*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    background-color: black;
}
.header
{
    display: flex;
    height: 72px;
    background-color: #212529;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header-logo
{
    display: flex;
    
    
}
.header-logo-img
{
    max-height: 72px;
}
.header-logo-img2
{
    max-width: 70%
}
.header-nav
{
    display: flex;
}
.header-nav-content
{
    color: white;
    font-size: 16px;
    text-decoration: none   ;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 48px;
}
.header-button
{
    color: white;
    border: 2px green solid;
    padding: 8px 24px;
    margin-left: 48px;
    font-size: 16px;
    background-color: #212529;
    font-weight: 700;
}
.video-view
{
    width: 100%;
    position: relative;
    margin-top: 72px;
}
.video-view-video
{
    width: 100%;
}
.video-view-content
{
    max-width: 500px;
    position: absolute;
    top: 10px;
    left: 20px;
}
.video-view-content h1
{
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 45px;
}
.video-view-content h2
{
    color: yellow ;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 29px;


}
.video-view-content h3
{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;

}
.video-view-content .play-game
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: green 2px solid;
    padding: 8px 40px;
    border-radius: 5px;
    margin-left: 20px;
}
.dowload
{
display: flex;
margin-top: 20px;
text-align: center;

}
.dow-content
{

}
.link-dow
{
    border: solid green 2px;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 8px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.img-dow
{
    height: 40px;
}
.coming-soon
{
    color: white;
    font-size: 12px;
}
.video-market
{
    padding: 80px 100px;
}
.header-video-market
{
    margin-bottom: 48px;
}
.header-video-market h1, .header-roadmap, .secured-by
{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 32px;

}
.yt-video
{
    display: flex;
    /* background-color: #212529; */
    
}
.ytvideogame
{
    width: 60%;
    border: none;
}
.content-market
{
    width: 40%;
    padding: 20px;
    text-align: center;
    
}
.header-content-market, .footer-content-market
{
    text-decoration: none;
    color: white;
    border: 2px solid green;
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    
    
}
.img1, .img2
{
    width: 100%;
    margin: 20px 0;
}
.text-content
{
    color: white;
    margin-bottom: 40px;
}
.feature-market
{
    margin: 25px 80px;
}
.img-feature
{
    max-width: 100%;
    padding: 0 25px;
}
.tokenomics
{
    display:flex;
    padding: 80px;
}
.img-tokenomics
{
    width: 50%;
    text-align: center;
}
.img-tokenomics-img
{
    width: 310px;
}
.tokenomics-content
{
    color: white;
    width: 50%;
    padding: 10px 0px 10px 40px;
    margin-top: 20px;
    
}
.tokenomics-content h2
{
    font-size: 32px;
    margin-bottom: 25px;
}
.tokenomics-content p
{
    font-size: 24px;
    margin-bottom: 20px;
}
.tokenomics-content ul li
{
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 16px;
    list-style-type:circle;
    list-style-position: inside;
}
.roadmap, .secured-by
{
    padding: 80px 100px;
}

.body-roadmap
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.roadmap-content
{
    /* width: 20%; */
    width: 180px;
    text-align: center;
    color: white;
    padding: 0 12px;

}
.img-header-roadmap
{
    width: 50%;
}
.body-roadmap-content
{
    background-color: #212529;
    border-radius: 10px;

}
.header-content-roadmap
{
    padding: 16px;
    border-bottom: solid 1px black;
}
.header-content-roadmap h2
{
    font-size: 28px;
    font-weight: 700;
}
.content-roadmap
{
    padding: 16px;
}
.content-roadmap ul li
{
    list-style-position: inside;
    text-align: left;
    margin-bottom: 10px;
    list-style-type: decimal;
    font-weight: 600;
}
.secured-by h2
{
    margin-bottom: 40px;
}
.secured-by img
{
    max-width: 40%;
}
.secured-by p
{
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    font-style: italic;
    margin-bottom: 45px;
}
.platform-area
{
    padding: 80px;
    display: flex;
    justify-content: space-between;
    border-top: oldlace 1px solid;
}
.platform-area img
{
    /* height: 40px; */
    max-width: 4%;
    display: block;
}
.footer
{
    background-color: #212529;
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    
}
.footer1
{
    text-align: center;
}
.footer1 img
{
    max-width: 25%;
    display: block;
    margin: 0 auto;
    
}
.footer1 p
{
    color: white;
}
.footer1, .footer2
{
    width: 25%;
}
.footer2 h3, .footer1 h3
{
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
}
.footer2 a
{
    display: block;
    margin: 8px 0;
    color: #6c757d;
    text-decoration: none;
}
.inf-2021
{
    color: white;
    padding: 20px 0;
    text-align: center;
}
